<div class='row container mt-3 mx-auto' style="border:2px groove;width:700px;padding:30px;">
    <div class="col">
        <img src="https://images.theconversation.com/files/196228/original/file-20171123-17988-1x7442.png?ixlib=rb-1.1.0&rect=0%2C0%2C1920%2C960&q=45&auto=format&w=1356&h=668&fit=crop" height='300px'width='300px';>
    </div>
<span>
    <div class='col mt-3'>
        <h4><b>Edit Team</b></h4>
        <hr>
        <%= render 'form'%>
    </div>
<span>
</div>