<br/><br/>

<div class="container" style="display: block;margin-left: 500px;width:100%">
     <%= link_to("Teams",teams_path, class:"btn btn-primary")%>
    <span>
        <%= link_to("Heroes",members_path, class:"btn btn-primary")%>
    </span>
</div>
<br/>
<br/>
<br/>
<div class="container" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
    <img src="https://ecdn.teacherspayteachers.com/thumbitem/A-New-Team-of-Heroes-Supplemental-Activities-Third-Grade-Lesson-29-1786895-1500873410/original-1786895-1.jpg" alt="New Team Of Heroes" class="img-rounded" width="500" height="500">
</div>
