<div class="container">
    <div style="float:left">
            <nav class="navbar navbar-expand justify-content-between">
                <ul class="navbar-nav ml-auto">
              
                    <li class="nav-item active mr-4">
                      <h4> <%= link_to 'Home', root_path  %></h4>
                    </li>
                    >
                    <li class="nav-item mr-3">
                      <h4><%= link_to 'Members', members_path %><h4>
                    </li>
                </ul>
      </div>
</div>