<%= render 'navbar'%>
<div class='row container mt-3 mx-auto' style="border:2px groove;width:700px;padding:30px;">
    <div class="col">
        <img src="https://i.ytimg.com/vi/azm_kys4NEw/maxresdefault.jpg" height='300px'width='300px';>
    </div>
<span>
    <div class='col mt-3'>
        <h4><b>Edit Member</b></h4>
        <hr>
        <%= render 'form2'%>
    </div>
<span>
</div>